@Media (max-width: 615px) {
    .Navigation-Wrapper {
        Flex-Direction: Column;
        Height: 100%;
    }

    .Navigation-Wrapper > .Left-Column {
        Order: 2;
        Margin-Top: 10px;
        Margin-Bottom: 15px;
    }

    .Navigation-Wrapper > .Center-Column {
        Order: 1;
        Width: 100%;
    }

    .Navigation-Wrapper > .Right-Column {
        Order: 3;
        Margin-Top: 15px;
    }

    .Links-Wrapper {
        Flex-Direction: Column;
        Margin-Bottom: 20px;
    }

    .Links-Wrapper > .Nav-Link {
        Margin-Top: 10px;
        Margin-Bottom: 10px;
        Font-Size: 1.5em;
        Width: 100%;
    }

    .Hero-Section {
        Padding: 50px 10px
    }

    .Features-Section {
        Height: 100%;
    }

    .Features-Section > .Columns-Wrapper {
        Width: 100%;
        Flex-Direction: Column;
    }

    .Footer {
        Height: 100%;
    }

    .Skewed-Header > .Skewed-Header-Wrapper > .Skewed-Header-Content {
        Flex-Direction: Column;
    }

    .Skewed-Header > .Header-BG {
        Background-Size: 550px;
    }

    .Page-Container {
        Padding-Left: 21px;
        Padding-Right: 21px;
    }

    .Page-Container > .Content-Wrapper > #Chef {
        Margin: 0px 0px 25px 0px;
        Width: 100%;
    }

    .Squares-Wrapper > .Squares > .Square {
        Grid-Template-Columns: 1fr;
    }
    .Squares-Wrapper > .Squares > .Square > .Square-Text-Wrapper {
        Order: 1;
    }

    .Squares-Wrapper > .Squares > .Square > .Image-Wrapper{
        Order: 2;
    }

    .Contact-Grid-Wrapper {
        Width: 100%;
        Grid-Template-Columns: 1fr;
        Grid-Gap: 10px;
    }

    .Page-Container > .Contact-Grid-Wrapper > .Company-Metadata-Sidebar-Wrapper > .Form input {
        Padding: 1.5rem 0rem;
    }

    .Page-Container > .Contact-Grid-Wrapper > .Company-Metadata-Sidebar-Wrapper > .Form textarea {
        Padding: 1.5rem 0rem;
    }
}